<mat-card>
  <h2>Login</h2>
  <form (submit)="login()" [formGroup]="loginFormGroup">

    <input [class.error]="usernameControl.touched && usernameControl.invalid" placeholder="Enter username" [formControl]="usernameControl" [(ngModel)]="username">
    <span *ngIf="usernameControl.touched && usernameControl.invalid" style="color: red">Age should be...</span>

    <input placeholder="Enter password" type="password" [formControl]="passwordControl">
    <button mat-raised-button color="accent" [disabled]="loginFormGroup.invalid || loginFormGroup.pristine">Login
    </button>
    <button type="button" (click)="increment()">increment</button>
  </form>

  <div>{{username}}</div>
</mat-card>
